{% extends "learning_logs/base.html" %}

    <!--Título da página-->
    {% block titulo %}Editar entrada{% endblock titulo %}

    {% block content %}

        <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

        <p>Editar entrada:</p>

        <!--action envia o formulário de volta a função edit_entry(), enviamos o id tbm-->
        <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar alterações</button>
        </form>

    {% endblock content %}
