<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Logs</title>
</head>
<body>
    <!--Todo template filho de ter a tag extends apontando 
    para o template pai-->
    {% extends "learning_logs/base.html" %}

    <!--Tudo que não é herdado de um template pai fica 
    dentro de um bloco content-->
    {% block content %}

    {% endblock content %}
</body>
</html>