    
    <!--Todo template filho de ter a tag extends apontando 
    para o template pai, a partir dessa tag é rederizado todo
    o conteúdo do tamplate pai-->
    {% extends "learning_logs/base.html" %}
    {% block titulo %}Home{% endblock titulo %}

        <!--Jumbotron é uma classe que adiciona uma janela grande descrevendo brevemente as funcionalidades do site-->
        {% block header %}
            <div class="jumbotron">
                <h1>Registre seu aprendizado.</h1>
            </div>
        {% endblock header %}

        <!--Tudo que não é herdado de um template pai fica 
        dentro de um bloco content-->
        {% block content %}
            <h2>
                <a href="{% url 'users:register' %}">Crie uma conta</a> para criar sua própria trilha de aprendizado e listar os tópicos que está estudando.
            </h2>
            <h2>
                Sempre que aprender algo novo sobre determinado assunto, adicione no tópico correspondente uma nova entrada descrevendo em poucas palavras o que foi aprendido.
            </h2>
        {% endblock content %}
