{% extends "learning_logs/base.html" %}
    {% block titulo %}Novo Assunto{% endblock titulo %}

    {% load bootstrap3 %}

    {% block header %}
        <h2>Adicionar um novo tópico:</h2>
    {% endblock header %}

    {% block content %}

        <!--Action diz ao django para enviar os dados para a função new_topic() que foi
        definida em view.py a requisição deve ser feita como POST-->
        <form action="{% url 'learning_logs:new_topic' %}" method="post" class="form">
            <!--Tag de template: evita que invasores usem o formulário para ter acesso
            não autorizado ao servidor (ataques cross-site request forgery)-->
            {% csrf_token %}
            <!--Template de formulário do bootstrap3 - substitui {{form.as_p}}-->
            {% bootstrap_form form %}

            {% buttons %}
                <button name="submit" class="btn btn-primary">Adicionar tópico</button>
            {% endbuttons %}
        </form>
    {% endblock content %}
