{% extends "learning_logs/base.html" %}
    {% block titulo %}Novo Assunto{% endblock titulo %}

    {% block content %}
        <p>Adicionar um novo tópico</p>

        <!--Action diz ao django para enviar os dados para a função new_topic() que foi
        definida em view.py a requisição deve ser feita como POST-->
        <form action="{% url 'learning_logs:new_topic' %}" method="post">
            <!--Tag de template: evita que invasores usem o formulário para ter acesso
            não autorizado ao servidor (ataques cross-site request forgery)-->
            {% csrf_token %}
            <!--Basta incluir essa variável template que os campos necessários são exibidos
            as_p diz ao django para renderizar os elemento no formato parágrafo (por uma 
            questão de organização)-->
            {{ form.as_p }}
            <button name="submit">Adicionar tópico</button>
        </form>
    {% endblock content %}
