{% extends "learning_logs/base.html" %}
{% block titulo %}Tópicos{% endblock titulo %}
    {% block content %}
        <p>Tópicos:</p>
        <ul>
    <!--Tag que equivale ao laço for, percorre as linhas de 
    context. Varre cada topico (topic) na lista de 
tópicos (topics). Note que há uma tag para indicar o fim 
do laço.
Para exibir o conteúdo de uma variável coloque-a entre chaves
duplas.
Há ainda a tag empty para dizer ao django o que fazer se não 
houver nada na variável-->
            {% for topic in topics %}
                <li>
                    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                </li>
            {% empty %}
                <li>Ainda não foi adicionado nenhum tópico...</li>
            {% endfor %}
        </ul>

        <hr>
        <!--Link para a página de inserção de novo tópico-->
        <a href="{% url 'learning_logs:new_topic' %}">Adicionar um novo tópico</a>
    {% endblock content %}
