{% extends 'learning_logs/base.html' %}
    {% block titulo %}Login{% endblock titulo %}
    <!--Essa página extende do template de outra aplicação (learning_logs)-->

    <!--Adicionado o template do bootstrap3-->
    {% load bootstrap3 %}

    <!--O bloco header descreve a página-->
    {% block header %}
        <h2>Acesse sua conta.</h2>
    {% endblock header %}

    {% block content %}
        <!--O template do bootstrap administra os erros de preenchimento de formulário automaticamente-->
        <!--Action define que a view de login vai processar o formulário-->
        <form action="{% url 'users:login' %}" method="post" class="form">
            {% csrf_token %}

            <!--Template de formulário do bootstrap - substitui {{ form.as_p }}-->
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">Entrar</button>
            {% endbuttons %}

            <!--Este input oculto (chamado next), no atributo value diz ao django 
            para onde o usuário deve ser redirecionado depois que o login for realizado 
            com sucesso (página inicial)-->
            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
        </form>
    {% endblock content %}
