{% extends 'learning_logs/base.html' %}
    {% block titulo %}Registrar{% endblock titulo %}

    {% load bootstrap3 %}

    {% block header %}
        <h2>Registre-se</h2>
    {% endblock header %}

    {% block content %}

        <form action="{% url 'users:register' %}" method="post">
            {% csrf_token %}
            <!--Template de formulário do bootstrap3 - substitui {{form.as_p}}-->
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">Registrar</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
        </form>

    {% endblock content %}
